.event {
    display: block;
    align-items: center;
    justify-content: space-between;
    height: 30vh;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    
    
}

.event-content {
    width: 100%;
    text-align: center;
}

.event-title {
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 50px;
}

.event-subtitle {
    font-size: 26px;
    margin-bottom: 10px;
}

.event-text {
    font-size: 20px;
    margin-bottom: 10px;
    
}

@media (max-width: 1024px) {
    .event {
        height: 20vh;
    }
}